bds-df/PartialArmTemplates/ArmTemplate_7_13_2021_14_29_59.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "bds-df"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/bdsPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyAll",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "triggered_time",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "pr_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pr_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "value_hash",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value_hash",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price_level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "price_level",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "area",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "area",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "area_level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "area_level",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rooms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rooms",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "toilets",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "toilets",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "direction",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "direction",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "distr",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "distr",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ward_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ward_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "street_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "street_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "proj_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "proj_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "triggered_time",
											"type": "String"
										},
										"sink": {
											"name": "triggered_time",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "bdsAllData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CopyOuput",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "CopyAll",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "source(output(\n\t\tpr_id as integer,\n\t\turl as string,\n\t\tvalue_hash as string,\n\t\tprice as float,\n\t\tprice_level as integer,\n\t\tarea as float,\n\t\tarea_level as integer,\n\t\trooms as integer,\n\t\ttoilets as integer,\n\t\tdirection as integer,\n\t\ttype as integer,\n\t\tcate as integer,\n\t\tcity as string,\n\t\tdistr as integer,\n\t\tward_id as integer,\n\t\tstreet_id as integer,\n\t\tproj_id as integer,\n\t\ttriggered_time as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> source1\nsource1 derive(triggered_time = toTimestamp(triggered_time, 'MM/dd/yyyy HH:mm:ss')) ~> DerivedColumn1\nDerivedColumn1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tid as integer,\n\t\ttrigger_time as timestamp,\n\t\tpr_id as integer,\n\t\tpost_url as string,\n\t\tvalue_hash as string,\n\t\tprice as long,\n\t\tprice_level as integer,\n\t\tarea as double,\n\t\tarea_level as integer,\n\t\trooms as integer,\n\t\ttoilets as integer,\n\t\tdirection as integer,\n\t\ttype as integer,\n\t\tcategory as integer,\n\t\tcity as string,\n\t\tdistrict as integer,\n\t\tward as integer,\n\t\tstreet as integer,\n\t\tproject as integer,\n\t\tis_valid as boolean,\n\t\tvalid_from as date,\n\t\tvalid_to as date\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\ttrigger_time = triggered_time,\n\t\tpr_id,\n\t\tpost_url = url,\n\t\tvalue_hash,\n\t\tprice,\n\t\tprice_level,\n\t\tarea,\n\t\tarea_level,\n\t\trooms,\n\t\ttoilets,\n\t\tdirection,\n\t\ttype,\n\t\tcategory = cate,\n\t\tcity,\n\t\tdistrict = distr,\n\t\tward = ward_id,\n\t\tstreet = street_id,\n\t\tproject = proj_id\n\t)) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "2021-7-12",
						"fileSystem": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "pr_id",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					},
					{
						"name": "value_hash",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "price_level",
						"type": "String"
					},
					{
						"name": "area",
						"type": "String"
					},
					{
						"name": "area_level",
						"type": "String"
					},
					{
						"name": "rooms",
						"type": "String"
					},
					{
						"name": "toilets",
						"type": "String"
					},
					{
						"name": "direction",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "cate",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "distr",
						"type": "String"
					},
					{
						"name": "ward_id",
						"type": "String"
					},
					{
						"name": "street_id",
						"type": "String"
					},
					{
						"name": "proj_id",
						"type": "String"
					},
					{
						"name": "triggered_time",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "trigger_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "pr_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "post_url",
						"type": "varchar"
					},
					{
						"name": "value_hash",
						"type": "varchar"
					},
					{
						"name": "price",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "price_level",
						"type": "int",
						"precision": 10
					},
					{
						"name": "area",
						"type": "float",
						"precision": 15
					},
					{
						"name": "area_level",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rooms",
						"type": "int",
						"precision": 10
					},
					{
						"name": "toilets",
						"type": "int",
						"precision": 10
					},
					{
						"name": "direction",
						"type": "int",
						"precision": 10
					},
					{
						"name": "type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "category",
						"type": "int",
						"precision": 10
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "district",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ward",
						"type": "int",
						"precision": 10
					},
					{
						"name": "street",
						"type": "int",
						"precision": 10
					},
					{
						"name": "project",
						"type": "int",
						"precision": 10
					},
					{
						"name": "is_valid",
						"type": "bit"
					},
					{
						"name": "valid_from",
						"type": "date"
					},
					{
						"name": "valid_to",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "bds_data"
				}
			},
			"dependsOn": []
		}
	]
}